.section {
  &__heading {
    padding-top: 5%;
    font-size: 3.5rem;
    font-weight: 600;
    padding-left: 5%;
    padding-bottom: 2%;
  }
}

.container {
  width: 1024px;
  padding-left: 10%;
  background: white;

  &__image {
    width: 20%;
    align-items: center;
  }
}
