.section {
  &__heading {
    padding-top: 5%;
    font-size: 3.5rem;
    font-weight: 600;
    padding-left: 5%;
    padding-bottom: 2%;
  }
}

.container {
  width: 1024px;
  background: white;
  margin-left: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  box-shadow: 1px 1px 8px rgb(231, 231, 231);

  &__link {
    text-decoration: no;
  }

  &__image {
    display: flex;
    justify-content: center;
    width: 200px;
    padding-top: 5%;
    padding-bottom: 4%;
  }
}
