@use "../../style/partials/mixins" as *;

.sidebar {
  width: 15%;
  padding-top: 50px;
  display: flex;
  justify-content: center;
  text-decoration: none;
  border-right: 1px solid #ededef;
  padding-right: 20px;

  &__list-item {
    @include font(16px, 30px, 200);
    width: 100%;
    height: 1rem;
    margin-bottom: 20%;
    text-decoration: none;
    color: #202223;
  }

  a:hover {
    background-color: #edeeef;
  }
}
