// media queries
@mixin mq-tablet {
  @media only screen and (min-width: 768px) {
    @content;
  }
}

@mixin mq-desktop {
  @media only screen and (min-width: 1280px) {
    @content;
  }
}

// display-flex
@mixin display-flex($direction, $align-items, $justify-content) {
  display: flex;
  flex-direction: $direction;
  align-items: $align-items;
  justify-content: $justify-content;
}

@mixin font($font-size, $line-height, $font-weight) {
  font-size: $font-size;
  line-height: $line-height;
  font-weight: $font-weight;
}
