@font-face {
  font-family: 'Myriad Pro';
  src: url('../../assets/fonts/MyriadPro-SemiboldIt.eot');
  src: local('Myriad Pro Semibold Italic'), local('MyriadPro-SemiboldIt'),
    url('../../assets/fonts/MyriadPro-SemiboldIt.eot?#iefix')
      format('embedded-opentype'),
    url('../../assets/fonts/MyriadPro-SemiboldIt.woff2') format('woff2'),
    url('../../assets/fonts/MyriadPro-SemiboldIt.woff') format('woff'),
    url('../../assets/fonts/MyriadPro-SemiboldIt.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url('../../assets/fonts/MyriadPro-Black.eot');
  src: local('Myriad Pro Black'), local('MyriadPro-Black'),
    url('../../assets/fonts/MyriadPro-Black.eot?#iefix')
      format('embedded-opentype'),
    url('../../assets/fonts/MyriadPro-Black.woff2') format('woff2'),
    url('../../assets/fonts/MyriadPro-Black.woff') format('woff'),
    url('../../assets/fonts/MyriadPro-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url('../../assets/fonts/MyriadPro-Semibold.eot');
  src: local('Myriad Pro Semibold'), local('MyriadPro-Semibold'),
    url('../../assets/fonts/MyriadPro-Semibold.eot?#iefix')
      format('embedded-opentype'),
    url('../../assets/fonts/MyriadPro-Semibold.woff2') format('woff2'),
    url('../../assets/fonts/MyriadPro-Semibold.woff') format('woff'),
    url('../../assets/fonts/MyriadPro-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url('../../assets/fonts/MyriadPro-BlackIt.eot');
  src: local('Myriad Pro Black Italic'), local('MyriadPro-BlackIt'),
    url('../../assets/fonts/MyriadPro-BlackIt.eot?#iefix')
      format('embedded-opentype'),
    url('../../assets/fonts/MyriadPro-BlackIt.woff2') format('woff2'),
    url('../../assets/fonts/MyriadPro-BlackIt.woff') format('woff'),
    url('../../assets/fonts/MyriadPro-BlackIt.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url('../../assets/fonts/MyriadPro-Regular.eot');
  src: local('Myriad Pro Regular'), local('MyriadPro-Regular'),
    url('../../assets/fonts/MyriadPro-Regular.eot?#iefix')
      format('embedded-opentype'),
    url('../../assets/fonts/MyriadPro-Regular.woff2') format('woff2'),
    url('../../assets/fonts/MyriadPro-Regular.woff') format('woff'),
    url('../../assets/fonts/MyriadPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url('../../assets/fonts/MyriadPro-Bold.eot');
  src: local('Myriad Pro Bold'), local('MyriadPro-Bold'),
    url('../../assets/fonts/MyriadPro-Bold.eot?#iefix')
      format('embedded-opentype'),
    url('../../assets/fonts/MyriadPro-Bold.woff2') format('woff2'),
    url('../../assets/fonts/MyriadPro-Bold.woff') format('woff'),
    url('../../assets/fonts/MyriadPro-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url('../../assets/fonts/MyriadPro-BoldIt.eot');
  src: local('Myriad Pro Bold Italic'), local('MyriadPro-BoldIt'),
    url('../../assets/fonts/MyriadPro-BoldIt.eot?#iefix')
      format('embedded-opentype'),
    url('../../assets/fonts/MyriadPro-BoldIt.woff2') format('woff2'),
    url('../../assets/fonts/MyriadPro-BoldIt.woff') format('woff'),
    url('../../assets/fonts/MyriadPro-BoldIt.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url('../../assets/fonts/MyriadPro-LightIt.eot');
  src: local('Myriad Pro Light Italic'), local('MyriadPro-LightIt'),
    url('../../assets/fonts/MyriadPro-LightIt.eot?#iefix')
      format('embedded-opentype'),
    url('../../assets/fonts/MyriadPro-LightIt.woff2') format('woff2'),
    url('../../assets/fonts/MyriadPro-LightIt.woff') format('woff'),
    url('../../assets/fonts/MyriadPro-LightIt.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url('../../assets/fonts/MyriadPro-It.eot');
  src: local('Myriad Pro Italic'), local('MyriadPro-It'),
    url('../../assets/fonts/MyriadPro-It.eot?#iefix')
      format('embedded-opentype'),
    url('../../assets/fonts/MyriadPro-It.woff2') format('woff2'),
    url('../../assets/fonts/MyriadPro-It.woff') format('woff'),
    url('../../assets/fonts/MyriadPro-It.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url('../../assets/fonts/MyriadPro-Light.eot');
  src: local('Myriad Pro Light'), local('MyriadPro-Light'),
    url('../../assets/fonts/MyriadPro-Light.eot?#iefix')
      format('embedded-opentype'),
    url('../../assets/fonts/MyriadPro-Light.woff2') format('woff2'),
    url('../../assets/fonts/MyriadPro-Light.woff') format('woff'),
    url('../../assets/fonts/MyriadPro-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

html {
  font-family: 'Myriad Pro';
}
