@use "../../style/global" as *;

.section {
  &__heading {
    font-size: 3.5rem;
    font-weight: 600;
  }
}

.mentors-container {
  margin-left: 5%;
  border-radius: 10px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  width: 75vw;
  background: white;
  height: 65rem;

  &__heading {
    margin-top: 2%;
    @include font(2rem, 2rem, 200);
    align-self: flex-start;
    margin-bottom: 4rem;
  }

  &__link {
    text-decoration: none;
  }
}

.mentors {
  width: 80%;
  display: flex;
  @include display-flex(column, flex-start, center);
  cursor: pointer;

  &__box {
    @include display-flex(row, center, center);
    @include font(2rem, 2rem, 200);
    column-gap: 2rem;
    padding: 1.6rem 0;

    &:hover {
      background-color: rgb(240, 240, 240);
    }

    // &:not(:first-child) {
    //   margin-top: 1.6rem;
    // }
  }

  &__image {
    @include display-flex(row, center, center);
    min-width: 7rem;
    min-height: 7rem;
    border-radius: 100%;
    background-color: $color-light-green;
  }

  &__image-text {
    font-size: 2.5rem;
    font-weight: 400;
    height: 25px;
    line-height: 24px;
    margin: 0;
  }

  &__description {
    height: 7rem;
    @include display-flex(column, none, space-around);
  }

  &__description-text {
    font-size: 1.6rem;
  }

  &__description-text--bold {
    font-weight: 600;
    margin-right: 0.5rem;
  }

  &__link {
    text-decoration: none;
    color: $color-black;
  }
}

.divider {
  height: 1px;
  background-color: rgb(212, 212, 212);
  width: 100%;
  cursor: default;
}

.background-image-orange {
  background-color: #ffc96b;
}

.background-image-coral {
  background-color: #ffc4b0;
}

.background-image-green {
  background-color: #92e6b5;
}

.background-image-blue {
  background-color: #91e0d6;
}

.background-image-red {
  background-color: #fdc9d0;
}
